folder/2. Bodas – Emails por Estado (Webhook Monday).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Revisar el estado de Email": {
      "main": [
        [
          {
            "node": "Obtener datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener datos": {
      "main": [
        [
          {
            "node": "Valores Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar primer correo - Tour virtual": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores Monday": {
      "main": [
        [
          {
            "node": "Validar producto y estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha de 3 días despues": {
      "main": [
        [
          {
            "node": "Mapear fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar producto y estado": {
      "main": [
        [
          {
            "node": "Mandar primer correo - Tour virtual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar segundo correo - Tour virtual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar tercer correo - Tour virtual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar primer correo - My photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar segundo correo - My photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar tercer correo - My photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar primer correo - My photo cate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar segundo correo - My photo cate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandar tercer correo - My photo cate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar segundo correo - Tour virtual": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar tercer correo - Tour virtual": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar primer correo - My photo": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar segundo correo - My photo": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar tercer correo - My photo": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar primer correo - My photo cate": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar segundo correo - My photo cate": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar tercer correo - My photo cate": {
      "main": [
        [
          {
            "node": "Fecha de 3 días despues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear fecha": {
      "main": [
        [
          {
            "node": "Cambiar fecha en Contactar Interprika",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T20:06:02.168Z",
  "id": "2KiLK3UqcH5RAAMg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2. Bodas – Emails por Estado (Webhook Monday)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estado-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        800
      ],
      "id": "55510054-104d-4e25-a3ac-b2681b4a03fd",
      "name": "Revisar el estado de Email",
      "webhookId": "90605e6e-107b-4387-b53e-ea9e86327a1a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1520853d-6c4c-4030-8ef2-a6f2ac91d20d",
              "leftValue": "={{ $json.body.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3024,
        144
      ],
      "id": "8f692808-b3e7-4e8f-837a-a98fbc8f4c78",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $json.body.challenge }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2800,
        144
      ],
      "id": "798f2e5f-582a-4798-a1b1-e37bed41bd34",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $json.body.event.pulseId.toString() }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        -672,
        800
      ],
      "id": "f4d6e04f-8800-47cb-87d0-0e03c73b81bf",
      "name": "Obtener datos",
      "credentials": {
        "mondayComOAuth2Api": {
          "id": "dE8g2W2GVOjXMeZt",
          "name": "Monday.com account majonb@interprika.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "=luis.kevin.quiroz@gmail.com",
        "subject": "=¿Cuándo podemos grabar el tour virtual 360 en {{ $json.Nombre }}?",
        "emailFormat": "text",
        "text": "=Buenos días {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para que puedas programar fecha para la grabación del Tour Virtual 360º para tu escaparate en Bodas.com.mx  Cientos de empresas ya disfrutan de los beneficios de esta innovadora herramienta y las parejas ya han podido visitar los salones y jardines de numerosos espacios desde cualquier dispositivo sin tener que desplazarse, ¡así que no esperes más y agenda tu grabación cuanto antes!\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione. {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te recordamos las condiciones para llevar a cabo el servicio:\n\nLa grabación se llevará a cabo en 4 horas.\n\nEs muy recomendable que decores tu espacio para que los novios puedan imaginar cómo será su boda en tu espacio.\n\nEs imprescindible que no haya personal ni invitados en el lugar en el que el técnico esté grabando.\n\nAquí tienes algunos ejemplos para que puedas obtener ideas:\nhttps://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos a la espera de tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Misa'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        -64
      ],
      "id": "a1566c52-a55d-4564-881d-b2dc9a13681a",
      "name": "Mandar primer correo - Tour virtual",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "=luis.kevin.quiroz@gmail.com",
        "subject": "=Agenda tu sesión del servicio My Photo en {{ $json.Nombre }}",
        "emailFormat": "text",
        "text": "=Buenas tardes {{ $json['Contact Venue'] }},\n\nSomos el equipo técnico asignado por Bodas.com.mx para coordinar contigo la sesión del servicio My Photo, un beneficio exclusivo que ya ha sido activado en tu escaparate.\n\n📅 Reserva tu sesión ahora a través de este calendario.\nImportante: Ten a la mano tu número de cliente XXXXXXXX, ya que lo necesitarás para confirmar tu cita.\nQuedamos pendientes de tu respuesta para coordinar la sesión en la fecha que mejor te funcione.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        560
      ],
      "id": "90f74756-e4c0-457e-8912-b037ebe8103c",
      "name": "Mandar primer correo - My photo",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "=luis.kevin.quiroz@gmail.com",
        "subject": "=Agenda tu sesión del servicio My Photo Catering en {{ $json.Nombre }}",
        "emailFormat": "text",
        "text": "=Buenas tardes {{ $json['Contact Venue'] }},\n\nSomos el equipo técnico asignado por Bodas.com.mx para coordinar contigo la sesión del servicio My Photo, un beneficio exclusivo que ya ha sido activado en tu escaparate.\n\n📅 Reserva tu sesión ahora a través de este calendario.\nImportante: Ten a la mano tu número de cliente XXXXXXXX, ya que lo necesitarás para confirmar tu cita.\nQuedamos pendientes de tu respuesta para coordinar la sesión en la fecha que mejor te funcione.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        1216
      ],
      "id": "9999efb4-85b1-4a4a-9031-1ffcbdc81103",
      "name": "Mandar primer correo - My photo cate",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bf8ca5b-1f12-4771-8f3c-a6f6086ac043",
              "name": "Nombre",
              "value": "={{ $('Obtener datos').item.json.name }}",
              "type": "string"
            },
            {
              "id": "916df879-74f7-40ba-866b-2cb7894289ec",
              "name": "Contact Venue",
              "value": "={{ $('Obtener datos').item.json.column_values[6].text }}",
              "type": "string"
            },
            {
              "id": "e5826049-a211-45d3-87e2-162bc42493b4",
              "name": "Email",
              "value": "={{ $('Obtener datos').item.json.column_values[7].text }}",
              "type": "string"
            },
            {
              "id": "3f228c66-ad07-45e1-83c7-715f68847888",
              "name": "Producto",
              "value": "={{ $json.column_values[14].text }}",
              "type": "string"
            },
            {
              "id": "64c8aea8-d938-4c0b-9ebd-5c497aeaa16e",
              "name": "Item ID",
              "value": "={{ $('Obtener datos').item.json.column_values[32].text }}",
              "type": "string"
            },
            {
              "id": "1d0ea039-5665-45f4-a99d-df7fe0d3100f",
              "name": "Estado WhatsApp",
              "value": "={{ $('Obtener datos').item.json.column_values[34].text }}",
              "type": "string"
            },
            {
              "id": "4ff50e0a-e22f-438b-b685-c77cacce1353",
              "name": "Estado Email",
              "value": "={{ $('Obtener datos').item.json.column_values[35].text }}",
              "type": "string"
            },
            {
              "id": "acc9527e-58ce-4fd9-a980-2c10b1f64da2",
              "name": "Whatsapp Misa",
              "value": "https://wa.me/5649505612",
              "type": "string"
            },
            {
              "id": "3dd2fbb4-41b5-427c-8915-bc6defead510",
              "name": "Whatsapp Interprika",
              "value": "http://wa.me/524772540469",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        800
      ],
      "id": "88df9bf8-a58c-4258-a36c-f047247e7e58",
      "name": "Valores Monday"
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "=falcony45@gmail.com",
        "subject": "=¿Cuándo podemos grabar el tour virtual 360 en {{ $json.Nombre }}?",
        "emailFormat": "text",
        "text": "=Buenos días {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para que puedas programar fecha para la grabación del Tour Virtual 360º para tu escaparate en Bodas.com.mx  Cientos de empresas ya disfrutan de los beneficios de esta innovadora herramienta y las parejas ya han podido visitar los salones y jardines de numerosos espacios desde cualquier dispositivo sin tener que desplazarse, ¡así que no esperes más y agenda tu grabación cuanto antes!\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione. {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te recordamos las condiciones para llevar a cabo el servicio:\n\nLa grabación se llevará a cabo en 4 horas.\n\nEs muy recomendable que decores tu espacio para que los novios puedan imaginar cómo será su boda en tu espacio.\n\nEs imprescindible que no haya personal ni invitados en el lugar en el que el técnico esté grabando.\n\nAquí tienes algunos ejemplos para que puedas obtener ideas:\nhttps://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos a la espera de tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Interprika'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        144
      ],
      "id": "9b9bed8c-b951-4f92-8177-c5556f4fd447",
      "name": "Mandar segundo correo - Tour virtual",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=¿Cuándo deseas agendar tu sesión del servicio My Photo?",
        "emailFormat": "text",
        "text": "=Buenas tardes {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para que puedas programar la sesión del servicio My Photo para tu escaparate en Bodas.com.mx. Este servicio te permitirá mejorar la presentación visual de tu espacio o productos, aumentando tu visibilidad ante miles de parejas que buscan proveedores confiables y con presencia profesional en la plataforma.\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione: {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te recordamos las condiciones para llevar a cabo la sesión:\n\nLa sesión fotográfica tiene una duración aproximada de 1 a 2 horas.\n\nTe recomendamos preparar las áreas o productos que desees destacar visualmente.\n\nEs importante mantener el espacio ordenado, bien iluminado y sin presencia de personal que pueda interferir en las tomas.\n\nSi cuentas con decoraciones, montajes o elementos representativos, te sugerimos tenerlos listos para maximizar el impacto visual.\n\nAquí tienes algunos ejemplos de sesiones My Photo para que puedas obtener ideas e inspiración: https://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos atentos a tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Interprika'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        784
      ],
      "id": "6ab0a824-8005-4629-afbe-813ceb7e4712",
      "name": "Mandar segundo correo - My photo",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=¿Cuándo deseas agendar tu sesión del servicio My Photo Cate?",
        "emailFormat": "text",
        "text": "=Buenas tardes {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para coordinar la sesión del servicio My Photo Cate, un beneficio exclusivo activo en tu escaparate en Bodas.com.mx para reforzar tu presencia visual y ayudarte a conectar mejor con las parejas que buscan proveedores con contenido atractivo y actualizado.\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione: {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te compartimos las recomendaciones para realizar la sesión:\n\nLa sesión tiene una duración aproximada de 1 a 2 horas.\n\nPrepara las áreas, productos o montajes que quieras destacar.\n\nTe sugerimos mantener el espacio ordenado, con buena iluminación y sin presencia de personal durante las tomas.\n\nSi cuentas con decoraciones, arreglos o elementos de ambientación, procura que estén listos para la sesión, ya que ayudan a generar un resultado más atractivo.\n\nAquí tienes algunos ejemplos de sesiones realizadas con este servicio para que puedas obtener ideas: https://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos atentos a tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Interprika'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        1424
      ],
      "id": "58acb680-e3b8-4c84-ae8b-2d3af0b50400",
      "name": "Mandar segundo correo - My photo cate",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "=falcony45@gmail.com",
        "subject": "=¿Cuándo podemos grabar el tour virtual 360 en {{ $json.Nombre }}?",
        "emailFormat": "text",
        "text": "=Buenos días {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para que puedas programar fecha para la grabación del Tour Virtual 360º para tu escaparate en Bodas.com.mx  Cientos de empresas ya disfrutan de los beneficios de esta innovadora herramienta y las parejas ya han podido visitar los salones y jardines de numerosos espacios desde cualquier dispositivo sin tener que desplazarse, ¡así que no esperes más y agenda tu grabación cuanto antes!\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione. {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te recordamos las condiciones para llevar a cabo el servicio:\n\nLa grabación se llevará a cabo en 4 horas.\n\nEs muy recomendable que decores tu espacio para que los novios puedan imaginar cómo será su boda en tu espacio.\n\nEs imprescindible que no haya personal ni invitados en el lugar en el que el técnico esté grabando.\n\nAquí tienes algunos ejemplos para que puedas obtener ideas:\nhttps://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos a la espera de tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Interprika'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        336
      ],
      "id": "75071624-4ea0-4356-bc85-82ec19da5cf4",
      "name": "Mandar tercer correo - Tour virtual",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=¿Cuándo deseas agendar tu sesión del servicio My Photo?",
        "emailFormat": "text",
        "text": "=Buenas tardes {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para que puedas programar la sesión del servicio My Photo para tu escaparate en Bodas.com.mx. Este servicio te permitirá mejorar la presentación visual de tu espacio o productos, aumentando tu visibilidad ante miles de parejas que buscan proveedores confiables y con presencia profesional en la plataforma.\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione: {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te recordamos las condiciones para llevar a cabo la sesión:\n\nLa sesión fotográfica tiene una duración aproximada de 1 a 2 horas.\n\nTe recomendamos preparar las áreas o productos que desees destacar visualmente.\n\nEs importante mantener el espacio ordenado, bien iluminado y sin presencia de personal que pueda interferir en las tomas.\n\nSi cuentas con decoraciones, montajes o elementos representativos, te sugerimos tenerlos listos para maximizar el impacto visual.\n\nAquí tienes algunos ejemplos de sesiones My Photo para que puedas obtener ideas e inspiración: https://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos atentos a tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Interprika'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        992
      ],
      "id": "c47d0059-942e-43a8-8ca6-044548c86a21",
      "name": "Mandar tercer correo - My photo",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=¿Cuándo deseas agendar tu sesión del servicio My Photo Cate?",
        "emailFormat": "text",
        "text": "=Buenas tardes {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para coordinar la sesión del servicio My Photo Cate, un beneficio exclusivo activo en tu escaparate en Bodas.com.mx para reforzar tu presencia visual y ayudarte a conectar mejor con las parejas que buscan proveedores con contenido atractivo y actualizado.\n\n📱 Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione: {{ $json['Whatsapp Misa'] }}\n\nCon el fin de garantizar un servicio de calidad, te compartimos las recomendaciones para realizar la sesión:\n\nLa sesión tiene una duración aproximada de 1 a 2 horas.\n\nPrepara las áreas, productos o montajes que quieras destacar.\n\nTe sugerimos mantener el espacio ordenado, con buena iluminación y sin presencia de personal durante las tomas.\n\nSi cuentas con decoraciones, arreglos o elementos de ambientación, procura que estén listos para la sesión, ya que ayudan a generar un resultado más atractivo.\n\nAquí tienes algunos ejemplos de sesiones realizadas con este servicio para que puedas obtener ideas: https://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos atentos a tus indicaciones.\nCualquier duda, también puedes comunicarte al {{ $json['Whatsapp Interprika'] }}.\n\nUn cordial saludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        1632
      ],
      "id": "2178ff84-f2a7-43bb-929c-4a99bf119586",
      "name": "Mandar tercer correo - My photo cate",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "duration": 3,
        "outputFieldName": "FechaContactaInterprika",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1216,
        784
      ],
      "id": "2b45e282-064b-42de-a020-8a0954d057ff",
      "name": "Fecha de 3 días despues"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "boardItem",
        "operation": "changeColumnValue",
        "boardId": "1209925112",
        "itemId": "={{ $('Obtener datos').item.json.id }}",
        "columnId": "date3",
        "value": "={ \"date\": \"{{ $json.FechaContactaInterprika }}\" }"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1664,
        784
      ],
      "id": "186b1934-5e43-443b-9729-66413824bd3b",
      "name": "Cambiar fecha en Contactar Interprika",
      "credentials": {
        "mondayComOAuth2Api": {
          "id": "dE8g2W2GVOjXMeZt",
          "name": "Monday.com account majonb@interprika.com"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "=Tour virtual - Email 1 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cb48f50b-f932-4f5e-bb7f-28f9c8c01128"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tour virtual 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49329c52-a193-4705-9db0-9476598247e5",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "=Tour virtual - Email 2 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tour virtual 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43915f25-f273-409e-a5ae-1e43e5126dca",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "=Tour virtual - Email 3 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tour virtual 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ad8055a-2097-4191-a871-74901cf5a11d",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "My photo - Email 1 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "My photo 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a17f3c2-4cce-4dd0-8333-42c6c59bfc4f",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "My photo - Email 2 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "My photo 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6164c07d-7055-4c68-bd28-f2556ad264e8",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "My photo - Email 3 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "My photo 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e07a55e2-b1b5-421f-946d-5b9b0d87fbdc",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "My photo Cate - Email 1 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "My photo Cate 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3534450e-b1fc-435e-8622-2b9da59855b2",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "My photo Cate - Email 2 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "My photo Cate 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "682bd2d1-1064-4454-b9d3-393cecc4469a",
                    "leftValue": "={{ $json[\"Producto\"] + \" - \" + $json[\"Estado Email\"] }}",
                    "rightValue": "My photo Cate - Email 3 enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "My photo Cate 3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -208,
        688
      ],
      "id": "48c8db40-9cde-452a-949f-32114fdb02b7",
      "name": "Validar producto y estado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4ef919c-a7f3-4248-a786-81ad7dc1be6b",
              "name": "FechaContactaInterprika",
              "value": "={{ new Date($json.FechaContactaInterprika).toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        784
      ],
      "id": "3b490858-0652-4a3d-932e-a9e23ead3670",
      "name": "Mapear fecha"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-08T20:06:02.170Z",
      "createdAt": "2025-10-08T20:06:02.170Z",
      "role": "workflow:owner",
      "workflowId": "2KiLK3UqcH5RAAMg",
      "projectId": "0KR2Gq9Kds58xeIV"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-02T00:06:51.000Z",
  "versionId": "7b57d866-36b9-4ef7-9b71-c17081bc6174"
}