folder/respaldar workflows en github.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Captura de Workflows": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nodo Programado": {
      "main": [
        [
          {
            "node": "Establecer campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizador de Archivos": {
      "main": [
        []
      ]
    },
    "Establecer campos": {
      "main": [
        [
          {
            "node": "Listar archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar archivos": {
      "main": [
        [
          {
            "node": "Captura de Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si existe": {
      "main": [
        [
          {
            "node": "Actualizador de Archivos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Uploader de Archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Si existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploader de Archivos": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-12T00:14:14.428Z",
  "id": "YmdReqa7ERnBl8gs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "respaldar workflows en github",
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e9352e86-991c-44f9-a34c-80b4b0e6c2fe",
      "name": "Captura de Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1008,
        2832
      ],
      "alwaysOutputData": false,
      "credentials": {
        "n8nApi": {
          "id": "lULdbO4YcJCeJEXd",
          "name": "n8n account - bodas.com.mx"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        336,
        2832
      ],
      "id": "29b5eb58-9d06-4c41-b390-94af08a2e723",
      "name": "Nodo Programado"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Establecer campos').item.json['Repository Owner'] }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Establecer campos').item.json['Repository Name'] }}",
          "mode": "name"
        },
        "filePath": "={{ $json.fileName }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $('Establecer campos').item.json.commitDate }}"
      },
      "id": "0b6d3837-01b8-462a-a7a8-2ae3be139433",
      "name": "Actualizador de Archivos",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1968,
        2720
      ],
      "webhookId": "ad758c2a-4f50-4db1-a3f3-a422c67ac0a2",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "MXicbYfLcyhoBYEO",
          "name": "GitHub account - falcony45@gmail.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1d52ea6-5912-4988-94c2-115ad59c1996",
              "name": "Repository Owner",
              "value": "Scampt",
              "type": "string"
            },
            {
              "id": "1c15b2e1-bf09-4643-8bba-3215119d2d6b",
              "name": "Repository Name",
              "value": "bodas.com.mx",
              "type": "string"
            },
            {
              "id": "712f49ff-8f02-4ac3-aee8-11db8ebe5843",
              "name": "commitDate",
              "value": "={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        2832
      ],
      "id": "b7938022-77e5-422d-8d38-c4921ba1f259",
      "name": "Establecer campos"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json[\"Repository Owner\"] }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json['Repository Name'] }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        784,
        2832
      ],
      "id": "5bf0def5-b57a-4076-b8a5-69ca3c2aaef5",
      "name": "Listar archivos",
      "webhookId": "05c29369-ddf5-4cea-ad82-2360b9460243",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "MXicbYfLcyhoBYEO",
          "name": "GitHub account - falcony45@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{\n  $items(\"Listar archivos\")\n    .filter(i => i.json.type === \"file\")\n    .some(i => i.json.name === $json.fileName)\n}}",
              "value2": "=true"
            }
          ]
        }
      },
      "id": "37997a2b-111c-485d-97f0-ef66105b8b45",
      "name": "Si existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1712,
        2832
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g,'-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        2832
      ],
      "id": "2e23608e-6b59-4c15-a89f-5add5dfbee36",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc11b694-0ee2-443a-8a9e-01870016fda7",
              "name": "fileName",
              "value": "={{ $binary.data.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        2832
      ],
      "id": "342d63e0-7d93-4247-8c0b-be66bc889862",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Establecer campos').item.json['Repository Owner'] }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Establecer campos').item.json['Repository Name'] }}",
          "mode": "name"
        },
        "filePath": "={{ $json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $('Establecer campos').item.json.commitDate }}"
      },
      "id": "e00f7a7a-a582-4585-8af9-b1538e038a56",
      "name": "Uploader de Archivos",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1984,
        3008
      ],
      "webhookId": "3ba252a0-adac-44b6-9376-d870f52e28bd",
      "credentials": {
        "githubApi": {
          "id": "MXicbYfLcyhoBYEO",
          "name": "GitHub account - falcony45@gmail.com"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-10-12T00:14:14.430Z",
      "createdAt": "2025-10-12T00:14:14.430Z",
      "role": "workflow:owner",
      "workflowId": "YmdReqa7ERnBl8gs",
      "projectId": "0KR2Gq9Kds58xeIV"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        347
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-16T03:26:12.664Z",
  "versionId": "b43f8f32-87c0-41e2-9f0c-5bae71680123"
}